<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script src="js/script.js" defer></script>
    <link rel="stylesheet" href="/css/app.css">
    <link rel="stylesheet" href="/css/bootstrap.min.css">
    <title>Border Radius Preview</title>
</head>
<body id="body">

        `<div class="box">
            <h1>Welcome to the Border-Radius Previewer!</h1>

            <input
                type="range"
                name="radius"
                id="radius"
                min="0"
                max="100"
                step="1"
                value="50" />
                <output class="radius-output" for="radius"></output>

            <div id="div-box">
                <p>Box 1</p>
            </div>
        </div>

        
</body>
</html>